schemas/adac/5.0.1/ADACSewerage.xsd

<?xml version="1.0"?>
<!-- version 4.0.0 edited by Ian Read 24 Feb 2011 (RCC) -->
<!-- version 4.0.1 edited by Ian Read 25 Aug 2011 (RCC) -->
<!-- version 4.1.0 edited by Ian Read 6 Aug 2012 (RCC) -->
<!-- version 4.1.0 edited by Ian Read 4 Jan 2013 (RCC) -->
<!-- version 4.2.0 edited by Martin Dore' July 2015(LCC) -->
<!-- version 5.0.0 edited by Blake Slaven July 2017 (Lion Systems)-->
<!-- version 5.0.1 edited by Blake Slaven January 2018 (Lion Systems) to change version number only -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.adac.com.au" targetNamespace="http://www.adac.com.au" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0.1">
  <xs:annotation>
    <xs:documentation>The ADAC Sewerage Schema constrains the data structure for all sewerage features within an ADAC Project</xs:documentation>
  </xs:annotation>
  <!-- INCLUDES -->
  <!-- Enumerated Types -->
  <xs:include schemaLocation="./ADACEnumeratedTypes.xsd">
    <xs:annotation>
      <xs:documentation>Uses ADAC enumerated SimpleType definitions</xs:documentation>
    </xs:annotation>
  </xs:include>
  <!-- Global Types -->
  <xs:include schemaLocation="./ADACGlobalTypes.xsd">
    <xs:annotation>
      <xs:documentation>Uses ADAC globally referenced type definitions</xs:documentation>
    </xs:annotation>
  </xs:include>
  <!-- Geometry -->
  <xs:include schemaLocation="./ADACGeometry.xsd">
    <xs:annotation>
      <xs:documentation>Uses ADAC geometry definitions</xs:documentation>
    </xs:annotation>
  </xs:include>
  <!-- **************************************************************************************** -->
  <!-- Sewerage - contains the specification for all sewerage feature classes                   -->
  <!-- **************************************************************************************** -->
  <!-- SEWERAGE FEATURE SET -->
  <xs:complexType name="objectModelSewerage">
    <xs:annotation>
      <xs:documentation>Data structure constraining information relating to sewerage (waste water) features.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MaintenanceHoles" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:annotation>
          <xs:documentation>Element representing the feature class of Sewerage Maintenance Holes (formerly Manholes)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="MaintenanceHole" type="Feature_Sewerage_MaintenanceHole" minOccurs="0" maxOccurs="unbounded" nillable="false">
              <xs:annotation>
                <xs:documentation>Element representing a sewerage Maintenance Hole (formerly Manhole).</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PipesNonPressure" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:annotation>
          <xs:documentation>Element representing the feature class of Sewerage Pipes Non-Pressure</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="PipeNonPressure" type="Feature_Sewerage_Pipe_NonPressure" minOccurs="0" maxOccurs="unbounded" nillable="false">
              <xs:annotation>
                <xs:documentation>Element representing a sewer pipe non-pressurised.  Includes all gravity reticulation and trunk gravity mains.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PipesPressure" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:annotation>
          <xs:documentation>Element representing the feature class of Sewerage Pipes Pressure</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="PipePressure" type="Feature_Sewerage_Pipe_Pressure" minOccurs="0" maxOccurs="unbounded" nillable="false">
              <xs:annotation>
                <xs:documentation>Element representing a sewer pipe pressurised (rising main).</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Valves" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:annotation>
          <xs:documentation>Element representing the feature class of Sewerage Valves</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Valve" type="Feature_Sewerage_Valve" minOccurs="0" maxOccurs="unbounded" nillable="false">
              <xs:annotation>
                <xs:documentation>Element representing a sewer valve fitting</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Fittings" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:annotation>
          <xs:documentation>Element representing the feature class of Sewerage Fittings</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Fitting" type="Feature_Sewerage_Fitting" minOccurs="0" maxOccurs="unbounded" nillable="false">
              <xs:annotation>
                <xs:documentation>Element representing a sewer fitting other than a valve</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Connections" minOccurs="1" maxOccurs="1" nillable="false">
        <xs:annotation>
          <xs:documentation>Element representing the feature class of sewer property connections</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="Connection" type="Feature_Sewerage_Connection" minOccurs="0" maxOccurs="unbounded" nillable="false">
              <xs:annotation>
                <xs:documentation>Element representing a sewer property connection</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- **************************************************************************************** -->
  <!-- FEATURES  - Sewerage                                                                     -->
  <!-- **************************************************************************************** -->
  <!-- FEATURE SEWERAGE MAINTENANCEHOLE (Formerly Manhole) -->
  <xs:complexType name="Feature_Sewerage_MaintenanceHole" abstract="false">
    <xs:complexContent>
      <xs:extension base="asset_abstract">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="Use" type="sewer_mh_use" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Use or purpose of this MaintenanceHole in the network</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChamberSize" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Data structure describing the chamber configuration and dimensions.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="Rectangular" type="rectangular_struct_mm" minOccurs="1" maxOccurs="1" nillable="false">
                  <xs:annotation>
                    <xs:documentation>Data container for rectangular dimensions</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Circular" type="circular_struct_mm" minOccurs="1" maxOccurs="1" nillable="false">
                  <xs:annotation>
                    <xs:documentation>Data container for circular dimensions</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Custom" type="custom_area_struct_sqm" minOccurs="1" maxOccurs="1" nillable="false">
                  <xs:annotation>
                    <xs:documentation>Custom Shaped chamber.  Such a feature should be associated with a plan or document describing its layout and dimensions</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="SurfaceLevel_m" type="xs:float" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The height of the top surface of the  lid, hatch, rim or roof. Surface level in metres against the vertical datum for this project.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvertLevel_m" type="xs:float" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The height of the top surface of interior floor/bottom. Invert level in metres against the vertical datum for this project.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FloorConstruction" type="construction_method" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Method of chamber floor construction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FloorMaterial" type="sewer_mh_material" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Material type for chamber construction</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WallConstruction" type="construction_method" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Method of chamber wall construction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WallMaterial" type="sewer_mh_material" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Material type for chamber wall construction</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RoofMaterial" type="sewer_mh_roofmaterial" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Material type for chamber roof construction</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Lining" type="sewer_mh_lining" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Material type of chamber lining</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LidMaterial" type="sewer_mh_lidmaterial" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Chamber lid configuration and material</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DropType" type="sewer_mh_droptype" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Chamber drop types</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CatchmentPS" type="String_32" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The identifier of the pumpstation that this node flows to.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LineNumber" type="String_32" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The identifier of the line that this node connects to</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MH_Number" type="String_32" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The identifier of this manhole or pit.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Chainage_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The distance upstream from end of line.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TieDistance_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The tie distance in metres to a cadastral corner</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OffsetDistance_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The offset distance in metres from a cadastral boundary</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rotation" type="Float_Direction" minOccurs="1" maxOccurs="1" default="0" nillable="false">
            <xs:annotation>
              <xs:documentation>Rotation angle (cartesian - anti-clockwise 0 degrees = East)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Geometry" type="geometry_point_singlepoint" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The geometry representing this feature in coordinate space.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- FEATURE SEWERAGE PIPENONPRESSURE -->
  <xs:complexType name="Feature_Sewerage_Pipe_NonPressure" abstract="false">
    <xs:complexContent>
      <xs:extension base="asset_abstract">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="LineNumber" type="String_32" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The sewer line identifier</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Use" type="sewer_pipe_nonpressure_use" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The function of this pipe in the network.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Diameter_mm" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Nominal pipe diameter in millimetres.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Material" type="sewer_pipe_nonpressure_material" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Pipe material</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Class" type="sewer_pipe_nonpressure_class" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The pipe class as specified by the manufacture.  Pipe class refers to the wall thickness and performance of the material.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Lining" type="sewer_pipe_nonpressure_lining" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The internal corrosion protection method employed on the pipe material.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Protection" type="sewer_pipe_nonpressure_protection" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The external corrosion protection method employed on the pipe material.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="JointType" type="sewer_pipe_jointtype" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Pipe to pipe join method.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:group ref="dimensions_invert_levels_m" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Calls in the standard elements for upstream and downstream invert levels</xs:documentation>
            </xs:annotation>
          </xs:group>
          <xs:group ref="dimensions_surface_levels_m" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Calls in the standard elements for upstream and downstream surface levels</xs:documentation>
            </xs:annotation>
          </xs:group>
          <xs:element name="Alignment_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Average offset distance in metres from casdastral boundary to the main.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Depth_m" type="xs:float" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Nominal depth in metres to the top of the pipe.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Embedment" type="sewer_pipe_embedment" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Embedment type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RockExcavated" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Value indicating whether rock was excavated from the pipe channel.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PipeGrade" type="Float_Positive_Zero" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Pipe grade as a percentage.  Derivable as the difference in invert levels divided by the horizontal length (not the length of pipe) multiplied by 100.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Length_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Actual material length of the pipe.  Not the horizontal length of the geometry.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Geometry" type="geometry_linear_singlepath_complex" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The linear geometry of the pipe feature in coordinate space.</xs:documentation>
              <xs:documentation>At version 4.1.0 these features may include curves due to modern flexible materials.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- FEATURE SEWERAGE PIPE PRESSURE -->
  <xs:complexType name="Feature_Sewerage_Pipe_Pressure" abstract="false">
    <xs:complexContent>
      <xs:extension base="asset_abstract">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="Use" type="sewer_pipe_pressure_use" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The function of this pipe in the network.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Diameter_mm" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Nominal pipe diameter in millimetres.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Material" type="sewer_pipe_pressure_material" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Pipe material</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Class" type="sewer_pipe_pressure_class" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The pipe class as specified by the manufacture.  Pipe class refers to the wall thickness and performance of the material.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Lining" type="sewer_pipe_pressure_lining" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The internal corrosion protection method employed on the pipe material.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Protection" type="sewer_pipe_pressure_protection" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The external protection for the pipe.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="JointType" type="sewer_pipe_jointtype" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Pipe to pipe join method.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Alignment_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Average offset distance from casdastre boundary to the main.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Depth_m" type="xs:float" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Nominal depth in metres to the top of the pipe.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Embedment" type="sewer_pipe_embedment" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Embedment type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RockExcavated" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Value indicating whether rock was excavated from the pipe channel.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Length_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Actual material length of the pipe.  Not the horizontal length of the geometry.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Geometry" type="geometry_linear_singlepath_complex" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The linear geometry of the pipe feature in coordinate space.</xs:documentation>
              <xs:documentation>At version 4.1.0 these features may include curves due to modern flexible materials.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- FEATURE SEWERAGE VALVE -->
  <xs:complexType name="Feature_Sewerage_Valve" abstract="false">
    <xs:complexContent>
      <xs:extension base="asset_abstract">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="Use" type="sewer_valve_use" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The function of this valve in the network.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Type" type="sewer_valve_type" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The physical configuration of the valve</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Diameter_mm" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The nominal bore diameter of the valve</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Lining" type="sewer_pipe_pressure_lining" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The internal corrosion protection method employed on the pipe material.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Protection" type="sewer_pipe_pressure_protection" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The external protection for the pipe.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:group ref="manufacturer_model_details" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Standard element group called in to support manufacturer and model details</xs:documentation>
            </xs:annotation>
          </xs:group>
          <xs:element name="Rotation" type="Float_Direction" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Rotation angle (cartesian - anti-clockwise 0 degrees = East)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Geometry" type="geometry_point_singlepoint" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The geometry representing this feature in coordinate space.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- FEATURE SEWERAGE FITTING -->
  <xs:complexType name="Feature_Sewerage_Fitting" abstract="false">
    <xs:complexContent>
      <xs:extension base="asset_abstract">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element name="Type" type="sewer_fitting_type" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The physical configuration of the fitting</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Material" type="sewer_fitting_material" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Fitting material</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Lining" type="sewer_pipe_pressure_lining" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The internal corrosion protection material or method for the fitting.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Protection" type="sewer_pipe_pressure_protection" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The external protection for the fitting.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BodySize_mm" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The nominal diameter of the major connecting pipe.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BranchSize_mm" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The nominal diameter of the minor connecting pipe.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rotation" type="Float_Direction" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Rotation angle (cartesian - anti-clockwise 0 degrees = East)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Geometry" type="geometry_point_singlepoint" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The geometry representing this feature in coordinate space.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- FEATURE SEWERAGE CONNECTION -->
  <xs:complexType name="Feature_Sewerage_Connection" abstract="false">
    <xs:complexContent>
      <xs:extension base="asset_abstract">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:group ref="dimensions_point_levels_m" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Call in standard elements for levels at the inspection opening.  Level in metres against the vertical datum for this project.</xs:documentation>
            </xs:annotation>
          </xs:group>
          <xs:element name="Use" type="sewer_house_connection_use" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The function of the house connection in the network.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Diameter_mm" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The nominal diameter of the connection conduit.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Material" type="sewer_house_connection_material" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The material of the connection conduit.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Class" type="sewer_house_connection_material_class" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The pipe class as specified by the manufacture.  Pipe class refers to the wall thickness and performance of the material.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Length_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The material length in metres of the house connection branch conduit.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Type" type="sewer_house_connection_type" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Physical configuration of connection.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Chainage_m" type="Float_Positive_Zero" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The distance in metres from the centre of the downstream manhole to the point of connection of the offshoot branch.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Offset_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The distance measured square from the centre of the sewer main to the point of connection.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LineNumber" type="String_32" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>The line identifier of the sewer main.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DSMHID" type="String_32" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
              <xs:documentation>Downstream manhole identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IO_Distance_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Distance from a point perpendicular to the inspection opening to the centre of the downstream manhole along the axis of the sewer main.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SO_Nearest_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Perpendicular distance from the inspection opening to the nearest cadastral boundary.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SO_Other_m" type="Float_Positive_NonZero" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>Perpendicular distance from the inspection opening to the next nearest cadastral boundary.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sediment_Trap" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>True indicates that the connection includes an inline sediment trap.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Geometry" type="geometry_linear_singlepath_complex" minOccurs="1" maxOccurs="1" nillable="false">
            <xs:annotation>
              <xs:documentation>The linear geometry of the house connection feature in coordinate space. Digitise this line downstream from the inspection opening to the pipe or pit</xs:documentation>
              <xs:documentation>If a point is desired, the inspection opening position may be taken as the start of the line</xs:documentation>
              <xs:documentation>At version 4.1.0 these features may include curves due to modern flexible materials.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>