schemas/adac/6.0.0/ADACGlobalTypes.xsd

<?xml version="1.0"?>
<!-- version 4.0.0 edited by Ian Read 2009 (RCC) -->
<!-- version 4.0.1 edited by Ian Read 25 Aug 2011 (RCC) -->
<!-- version 4.1.0 edited by Ian Read 6 Aug 2012 (RCC) -->
<!-- version 4.1.0 edited by Ian Read 4 Jan 2013 (RCC) -->
<!-- version 4.2.0 edited by Martin Dore' Feb 2015(LCC) change to version number only -->
<!-- version 5.0.0 edited by Blake Slaven July 2017 (Lion Systems)-->
<!-- version 5.0.1 edited by Blake Slaven January 2018 (Lion Systems) to change version number only -->
<!-- version 6.0.0 edited by Blake Slaven October 2023 (Lion Systems) to change version number only-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.adac.com.au" targetNamespace="http://www.adac.com.au" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.0.0">
	<!-- INCLUDES -->
	<xs:include schemaLocation="ADACStringTypes.xsd"/>
  <xs:include schemaLocation="ADACEnumeratedTypes.xsd"/>
	<!-- ABSTRACT TYPES  extended by all feature types-->
	<xs:complexType name="object_abstract" abstract="true">
		<xs:annotation>
			<xs:documentation>All feature level objects in the schema will inherit from object_abstract</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="ADACId" type="String_64" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Represents a place for an object identifier, usually generated by the data creation software.  Also useful as a placeholder for record ID generated by back-end databases or GIS</xs:documentation>
					<xs:documentation>The ADACId is permitted to be nil because the capturing system may not have the capacity to generate one.  If features are exported from a GIS or Asset Management system, however, it is highly recommended to carry them out into this element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="asset_abstract" abstract="true">
		<xs:annotation>
			<xs:documentation>All Asset feature objects in the schema will inherit from asset_abstract</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="object_abstract">
				<xs:sequence minOccurs="1" maxOccurs="1">
					<xs:element name="ComponentInfo" type="component_info_struct" nillable="false" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Data container for generic asset information.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="component_info_struct" abstract="false">
		<xs:annotation>
			<xs:documentation>Data structure for generic asset information.  Common to all asset classes.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="InfrastructureCode" type="String_64" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The code or number of an Infrastructure Charges Plan, any asset feature codes; any ETL software codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="String_32" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The entity that owns or is responsible for the asset.</xs:documentation>
					<xs:documentation>Used with the Department field to differentiate a sub-set of assets for an XML with multiple asset owners.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DrawingNumber" type="String_64" nillable="true" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation>The Council drawing number of the as constructed plans.  This may not be known at the time of compilation.</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="DrawingRevision" type="xs:date" nillable="true" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation>Date the drawing was revised.  ISO 8601 is the accepted format.</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="ConstructionDate" type="xs:date" nillable="true" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation>The accepted date of construction for the whole project.  Usually the project completion date.  ISO 8601 is the accepted format.</xs:documentation>
				<xs:documentation>Date may be used to calculate remaining life in an asset management system.</xs:documentation>
			</xs:annotation>
		</xs:element>
			<xs:element name="Department" type="String_32" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Department is used to differentiate between assets with a common owner that need to go into separate GIS layers or asset registers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--Ben Pham added: Surveyor and Engineer elements.-->
			<!-- Certifying Surveyor -->
			<xs:element name="Surveyor" type="surveyor_details" nillable="true" minOccurs="1" maxOccurs="1"/>
			<!-- Certifying Engineer -->
			<xs:element name="Engineer" type="engineer_details" nillable="true" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Status" type="asset_status" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The operational or existential status of the asset at the time the data was captured.  A Project may contain a mix of planned and existing assets as well as operational and retired assets.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--Ben Pham added: DataQuality and Deparment elements.-->
			<xs:element name="DataQuality" type="data_quality" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Data Quality based on AS5488-2013. Classification of Subsurface Utility Information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notes" type="String_254" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text notes particular to this feature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupportingFiles" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="1">
						<xs:element name="SupportingFile" type="String_254" nillable="false" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Full path and filename of supporting information (e.g. drawing file, document file or image).  It is recommended that the filename is relative to the URI of the ADAC XML document, E.g: ./images/image1.jpg</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ****************************************************************************** -->
	<!-- General use complex types or groups called by many modules                     -->
	<!-- ****************************************************************************** -->
	<!-- *** Groups *** -->
	<xs:group name="dimensions_invert_levels_m">
		<xs:annotation>
			<xs:documentation>Standard element group called in to support upstream levels of pipe features</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="US_InvertLevel_m" type="xs:float" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Invert level of this pipe end (in metres against the vertical datum).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DS_InvertLevel_m" type="xs:float" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Invert level of this pipe end (in metres against the vertical datum).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="dimensions_surface_levels_m">
		<xs:annotation>
			<xs:documentation>Standard element group called in to support upstream levels of pipe features</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="US_SurfaceLevel_m" type="xs:float" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface level (in metres against the vertical datum) vertically above this pipe end.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DS_SurfaceLevel_m" type="xs:float" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface level (in metres against the vertical datum) vertically above this pipe end.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="dimensions_point_levels_m">
		<xs:sequence>
			<xs:element name="SurfaceLevel_m" type="xs:float" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface level of this feature (in metres against the vertical datum).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvertLevel_m" type="xs:float" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Invert level of this feature (in metres against the vertical datum).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="manufacturer_model_details">
		<xs:annotation>
			<xs:documentation>Standard element group called in to support manufacturer and model details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Manufacturer" type="String_64" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Manufacturer of the unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModelNumber" type="String_64" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The standard code, model number or part number for the unit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="lot_plan_details">
		<xs:annotation>
			<xs:documentation>Standard element group called in to support lot and plan cadastral descriptions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LotNo" type="String_32" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The lot number as described on the originating survey plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanNo" type="String_32" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The plan number of the originating survey plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!-- *** Complex Types *** -->
	<!--BEN PHAM added: a complex type for surveyor details which will be located at Asset Level and Header Information-->
	<xs:complexType name="surveyor_details" abstract="false">
		<xs:annotation>
			<xs:documentation>Structure containing information from the certifying surveyor.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Name" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the surveyor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateFinalSurvey" type="xs:date" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date of the final survey.  ISO 8601 is the accepted format.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateApproved" type="xs:date" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date of the final approval of survey.  ISO 8601 is the accepted format.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--BEN PHAM added: a complex type for engineer details which will be located at Asset Level and Header Information-->
	<xs:complexType name="engineer_details" abstract="false">
		<xs:annotation>
			<xs:documentation>Structure containing information from the certifying engineer.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Name" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name and or registration number of the engineer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateApproved" type="xs:date" nillable="false" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date of approval of submission for the infrastructure type.  ISO 8601 is the accepted format.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rectangular_struct_mm" abstract="false">
		<xs:annotation>
			<xs:documentation>Used for the expression of rectangular dimensions in millimetres.  Whether the dimensions are internal or external are defined by the element referencing this type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Length_mm" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Length in millimetres</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Width_mm" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Width in millimetres</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="circular_struct_mm" abstract="false">
		<xs:annotation>
			<xs:documentation>Used for the expression of circular dimensions in millimetres.  Whether the dimensions are internal or external are defined by the element referencing this type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Diameter_mm" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Diameter in millimetres</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extended_struct_mm" abstract="false">
		<xs:annotation>
			<xs:documentation>Used for the expression of a shape with parallel sides and circular ends.  Dimensions are in millimetres.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Radius_mm" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Radius, in millimetres, of the circular ends</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension_mm" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Distance, in millimetres, between the centre points of the circular ends</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="custom_area_struct_sqm" abstract="false">
		<xs:annotation>
			<xs:documentation>Used to express the planimetric area, in square metres, of a custom shaped feature</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Area_m2" type="Float_Positive_NonZero">
				<xs:annotation>
					<xs:documentation>Area in square metres</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- **************************************************************************************** -->
	<!-- Enumerations - General                                                                   -->
	<!-- **************************************************************************************** -->
	<xs:simpleType name="text_justification">
		<xs:annotation>
			<xs:documentation>Nine possible text justification combinations for (horizontal - vertical).  Used to control text placement for annotation or labelling options.  Independant of font or orientation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String_32">
			<xs:enumeration value="Left-Bottom">
				<xs:annotation>
					<xs:documentation>Left-Bottom</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Left-Centre">
				<xs:annotation>
					<xs:documentation>Left-Centre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Left-Top">
				<xs:annotation>
					<xs:documentation>Left-Top</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Centre-Bottom">
				<xs:annotation>
					<xs:documentation>Centre-Bottom</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Centre-Centre">
				<xs:annotation>
					<xs:documentation>Centre-Centre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Centre-Top">
				<xs:annotation>
					<xs:documentation>Centre-Top</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Right-Bottom">
				<xs:annotation>
					<xs:documentation>Right-Bottom</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Right-Centre">
				<xs:annotation>
					<xs:documentation>Right-Centre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Right-Top">
				<xs:annotation>
					<xs:documentation>Right-Top</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="which_side">
		<xs:annotation>
			<xs:documentation>Determines which side to apply an offset or measurement in the direction of travel</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String_32">
			<xs:enumeration value="Left">
				<xs:annotation>
					<xs:documentation>Left hand side</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Right">
				<xs:annotation>
					<xs:documentation>Right hand side</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Float_Positive_Zero">
		<xs:annotation>
			<xs:documentation>Decimal number greater than or equal to zero</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0">
				<xs:annotation>
					<xs:documentation>greater than or equal to zero</xs:documentation>
				</xs:annotation>
			</xs:minInclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Float_Positive_NonZero">
		<xs:annotation>
			<xs:documentation>Decimal number greater than zero</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float">
			<xs:minExclusive value="0">
				<xs:annotation>
					<xs:documentation>greater than zero</xs:documentation>
				</xs:annotation>
			</xs:minExclusive>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Float_Direction">
		<xs:annotation>
			<xs:documentation>Decimal number representing an angle in degrees. Limited to one full rotation in either direction.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float">
			<xs:minExclusive value="-360">
				<xs:annotation>
					<xs:documentation>One full rotation counterclockwise from north for bearings or clockwise fom X-Axis for mathematical.</xs:documentation>
				</xs:annotation>
			</xs:minExclusive>
			<xs:maxExclusive value="360">
				<xs:annotation>
					<xs:documentation>One full rotation clockwise from north for bearings or counterclockwise fom X-Axis for mathematical.</xs:documentation>
				</xs:annotation>
			</xs:maxExclusive>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
